altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
opencv-python
packaging
pandas
Pillow
plotly
protobuf
pyarrow
pydeck
Pygments
Pympler
python-dateutil
pytz
pytz-deprecation-shim
pywin32
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
streamlit
streamlit-option-menu
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
